{% extends 'base.html.twig' %}

{% block title %}Découvrir nos régions!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Découvrez nos magnifiques régions !</h1>
    <table class="table">

    {% for region in regions %}

    <tr>
        <td>
            {{ region.name }}
        </td>
        <td>
            {{ region.presentation }}
        </td>
        <td><a href="{{ path('region_show', {'id': region.id}) }}">show</a></td>
    </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
